@import "../../styles/theme.scss";

.navBar {
  background-color: var(--navbar-bg);
  padding: 1.25rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  height: 6rem;
  border-bottom: 1px solid var(--border-color);
}

.navbarLogo {
  font-size: 2rem;
  font-weight: 900;
  font-style: italic;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--accent-color);
  text-decoration: none;
  position: relative;
  font-family: "Helvetica Neue", sans-serif;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--accent-color);
  }
}

.navbarBtn {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  list-style: none;
}

.navLink {
  color: var(--text-secondary);
  text-decoration: none;
  font-weight: 900;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 10%;
    width: 0;
    height: 2px;
    background-color: var(--accent-color);
    transition: all 0.3s ease;
  }

  &:hover::after {
    width: 80%;
  }

  &:global(.active) {
    color: var(--accent-color);

    &::after {
      width: 80%;
    }
  }
}

.themeToggle {
  background-color: transparent;
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 1rem;

  &:hover {
    background-color: var(--accent-color);
    color: var(--button-text);
    transform: translateY(-2px);
  }

  svg {
    font-size: 1.25rem;
  }
}
